<strong>Hi, {{ name }}</strong>
<p>
  <strong>We came through your question at our website. Please find the answer bellow:</strong> <br />
  Question: {{ question }} <br />
  Answer: {{ answer }} <br />
  <br />
  Best regards, {{ user }}. <br />
  <br />
  <small>
    If you are not satisfied with this answer, please revert back to us.
  </small>
</p>
